# .coveragerc to control coverage.py
[run]
include =
    unittests/*
branch = True
data_file = cover.coverage

[report]
omit =
    # omit everything in /usr
    /usr/*
    */__init__.py
precision = 2
show_missing = True
ignore_errors = True

[html]
directory = coverage_html_report
